-- FIX: Missing Foreign Key for work_assignment_history.performed_by
ALTER TABLE work_assignment_history DROP CONSTRAINT IF EXISTS fk_work_assignment_history_performer;
ALTER TABLE work_assignment_history ADD CONSTRAINT fk_work_assignment_history_performer FOREIGN KEY (performed_by) REFERENCES employees(id);
